.main_top.section {
  @media ($tablet) {
    padding-top: 10px;
  }
}
.main_top__title {
  font-family: GolosText, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #323232;

  @media ($tablet) {
    font-size: 36px;
  }

  @media ($tablet3) {
    font-size: 24px;
  }
}
.main_top__slider_wr {
  margin-top: 60px;

  @media ($tablet) {
    margin-top: 20px;
  }
}
.main_top_slider__slide.swiper-slide {
  height: auto;
}
.main_top_slider_item {
  padding: 40px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 6px 13px rgba(#000000, 0.03);
  min-height: 438px;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media ($tablet) {
    padding: 20px 20px 40%;
    border-radius: 20px;
  }
  @media ($tablet3) {
    padding: 20px 20px 60%;
  }
}
.main_top_slider_item__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right bottom;
  @media ($tablet3) {
    width: 160%;
  }
}
.main_top_slider_item__content {
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media ($desktop) {
    max-width: 48%;
  }
  @media ($tablet) {
    max-width: none;
  }
}
.main_top_slider_item__title {
  color: #323232;
  letter-spacing: -2px;
  font-weight: 600;
  font-family: GolosText, sans-serif;
  font-size: 44px;
  line-height: 1.1;

  @media ($tablet) {
    font-size: 30px;
  }
  @media ($tablet3) {
    font-size: 20px;
  }
}
.main_top_slider_item__text {
  margin-top: 16px;
  flex: 1 1 auto;
  color: #646464;
  font-size: 18px;
  line-height: 1.4;

  @media ($tablet) {
    font-size: 16px;
  }
}
.main_top_slider_item__prices {
  margin-top: 16px;

  @media ($tablet) {
    margin-top: 25px;
  }
}
.main_top_slider_item__old_price {
  color: #828282;
  text-decoration: line-through;
  font-weight: 600;
  font-family: GolosText, sans-serif;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -1px;

  @media ($tablet) {
    font-size: 18px;
  }
}
.main_top_slider_item__price {
  color: #323232;
  font-weight: 600;
  font-family: GolosText, sans-serif;
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: -1px;
  @media ($tablet) {
    font-size: 26px;
  }
}
.main_top_slider_item__btn {
  margin-top: 20px;
  width: 327px;
  height: 53px;

  @media ($tablet3) {
    height: 51px;
    width: 295px;
  }
}
.main_top__slider_bottom {
  margin-top: 20px;
  display: flex;
  gap: 20px;

  @media ($tablet) {
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 10px;
  }
}
.main_top__slider_links_wr {
  box-shadow: 0 6px 13px 0 rgba(#000000, 0.03);
  flex: 1 1 auto;
  @media ($tablet3) {
    overflow-x: auto;
    margin: 0 -20px;
    padding: 0 20px;
  }
}
.main_top__slider_links {
  border-radius: 40px;
  background: #ffffff;
  padding: 18px 80px;
  display: flex;
  justify-content: space-between;

  @media ($desktop) {
    padding: 18px 30px;
  }
  @media ($tablet) {
    padding: 10px 30px;
  }
  @media ($tablet3) {
    width: 727px;
  }
}
.main_top__slider_link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 52px;
  @media ($tablet) {
    max-width: 30px;
  }

  &:hover {
    @media #{$mouse-device} {
      img {
        opacity: 0.5;
      }
    }
  }
  img {
    transition: opacity 0.25s;
    max-width: 52px;
    @media ($tablet) {
      max-width: 30px;
    }
  }
}
.main_top__slider_arrows {
  flex: 0 0 auto;
  display: flex;
  box-shadow: 0 6px 13px 0 rgba(#000000, 0.03);
  border-radius: 40px;
  overflow: hidden;
  @media ($tablet) {
    height: 60px;
  }
}
.main_top__slider_arrow {
  width: 157px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  cursor: pointer;
  img {
    transition: opacity 0.25s;
  }
  @media ($tablet) {
    width: 50%;
  }

  &.this--prev {
    border-right: 0.5px solid rgba(#828282, 0.2);
    img {
      transform: rotate(180deg);
    }
  }
  &.this--next {
    border-left: 0.5px solid rgba(#828282, 0.2);
  }

  &.swiper-button-disabled {
    img {
      opacity: 0.5;
    }
  }
}