.main_popular__text {
  margin-top: 14px;
  color: #646464;
  font-size: 18px;
  line-height: 1.4;
}
.main_popular__tabs {
  margin-top: 40px;
}
.main_popular__tabs_links {
  display: flex;
  gap: 4px;
}
.main_popular__tabs_link {
  padding: 6px 20px;
  color: #828282;
  background: #ffffff;
  border: 1px solid rgba(#828282, 0.3);
  border-radius: 100px;
  font-size: 16px;
  line-height: 22px;
  transition: color 0.25s, background 0.25s;
  cursor: pointer;

  &.active {
    pointer-events: none;
    background: #323232;
    color: #ffffff;
  }
}
.main_popular__tabs_bodies {
  margin-top: 20px;
}
.main_popular__tabs_body {
  display: none;

  &.active {
    display: flex;
    margin-left: -20px;
    margin-bottom: -20px;
    flex-wrap: wrap;
  }
}
.main_popular__card {
  margin-left: 20px;
  margin-bottom: 20px;
  width: calc(25% - 20px);
  min-height: 380px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 13px 0 rgba(#000000, 0.03);

  &:hover {
    @media #{$mouse-device} {
      .main_popular__card_img {
        transform: scale(1.07);
      }
    }
  }
}
.main_popular__card_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  transition: transform 0.4s;
}
.main_popular__card_top,
.main_popular__card_bottom {
  position: relative;
  z-index: 2;
}
.main_popular__card_top {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.main_popular__card_name,
.main_popular__card_price {
  font-family: GolosText, sans-serif;
  font-weight: 600;
  color: #323232;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.main_popular__card_price {
  white-space: nowrap;
}
.main_popular__card_bottom {
  display: flex;
  justify-content: flex-end;
}
.main_popular__card_logo {
  max-width: 52px;

  img {
    max-width: 52px;
  }
}