.main_why__content {
  background: #ffffff;
  border-radius: 40px;
  padding: 60px;
  box-shadow: 0 6px 13px 0 rgba(#000000, 0.03);
}
.main_why__top {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.main_why__group {
  max-width: 330px;
}
.main_why__text {
  font-size: 18px;
  line-height: 1.4;
  color: #646464;
}
.main_why__link {
  margin-top: 30px;
  width: 100%;
}
.main_why__items {
  margin-top: 60px;
  display: flex;
  margin-left: -20px;
}
.main_why__item {
  margin-left: 20px;
  width: calc(25% - 20px);
  background: #F6F5F3;
  border-radius: 20px;
  padding: 20px;
}
.main_why__item_img {
  width: 48px;

  img {
    width: 100%;
  }
}
.main_why__item_title {
  margin-top: 30px;
  font-size: 20px;
  font-family: GolosText, sans-serif;
  font-weight: 600;
  color: #323232;
}
.main_why__item_text {
  margin-top: 8px;
  color: #646464;
  font-size: 16px;
  line-height: 1.4;
}