.main_form__content {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

  @media ($desktop) {
    align-items: center;
    gap: 30px;
  }
}
.main_form__left,
.main_form__right {
  width: calc(50% - 20px);

  @media ($tablet) {
    width: 100%;
  }
}
.main_form__img {
  padding-top: 82.35%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
  }
}
.main_form__form {
  margin-top: 40px;
  @media ($tablet) {
    margin-top: 20px;
  }
}
.main_form__text {
  color: #646464;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.4;

  @media ($tablet) {
    margin-top: 8px;
    font-size: 16px;
  }
}
.main_form__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main_form__form_row {
  display: flex;
  gap: 10px;

  @media ($tablet3) {
    flex-direction: column;
  }
}
.main_form__form_input {
  width: calc(50% - 5px);

  @media ($tablet3) {
    width: 100%;
  }
}
.main_form__form_textarea {
  height: 180px;
}
.main_form__form_checkbox {
  color: #646464;
  font-size: 14px;
  line-height: 1.4;
}
.main_form__form_submit {
  margin-top: 10px;
  height: 52px;
  width: 226px;

  @media ($tablet3) {
    width: 100%;
  }
}