.header__content {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 70px;

  @media ($desktop) {
    gap: 50px;
  }
}
.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo {
  width: 120px;

  img {
    width: 100%;
  }
}
.header__nav {
  @media ($tablet) {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    background: #222222;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;

    &.menu_opened {
      opacity: 1;
      visibility: visible;
    }
  }
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 25px;

  @media ($tablet) {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__menu_link {
  color: #646464;
  font-size: 16px;
  line-height: 1.4;
  transition: color 0.25s;

  &:hover {
    @media #{$mouse-device} {
      color: #FF3B58;
    }
  }
  @media ($tablet) {
    color: #ffffff;
    font-size: 26px;
    line-height: 1;
  }
}
.header__link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    transition: opacity 0.25s;
    width: 24px;
    height: 24px;
  }

  &:hover {
    @media #{$mouse-device} {
      img {
        opacity: 0.5;
      }
    }
  }
}
.header__btn {
  &.this--desktop {
    @media ($tablet) {
      display: none;
    }
  }
  &.this--mobile {
    display: none;
    @media ($tablet) {
      display: flex;
      width: max-content;
      margin: 20px auto 0;
    }
  }
}
.header__burger {
  display: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: relative;
  z-index: 100;

  span {
    position: absolute;
    width: 39px;
    height: 2px;
    background: #646464;
    left: 3px;
    transition: opacity 0.4s, top 0.4s, bottom 0.4s, transform 0.4s;
  }
  span:first-child {
    top: 8px;
  }
  span:nth-child(2) {
    top: calc(50% - 1px);
  }
  span:last-child {
    bottom: 8px;
  }

  &.menu_opened {
    span:nth-child(2) {
      opacity: 0;
    }
    span:first-child {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }
    span:last-child {
      bottom: calc(50% - 1px);
      transform: rotate(-45deg);
    }
  }

  @media ($tablet) {
    display: block;
  }
}
