.detail_rent__table_wr {
  margin-top: 40px;

  @media ($tablet) {
    margin-top: 20px;
  }
  @media ($mobile) {
    overflow-x: auto;
    padding: 0 20px;
    margin: 20px -20px 0;
  }
}
.detail_rent__table {

  @media ($mobile) {
    width: 600px;
  }

  &.table {
    &::before {
      height: 90%;
    }
    .table__row {
      &::before {
        width: 100%;
      }
    }
    .table__td {
      padding: 14px 24px;
    }
  }
}