.personal {
  position: relative;
}
.personal__edit_btn {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 190px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  color: #323232;
  font-size: 16px;
  line-height: 1.4;
  background: #F6F5F3;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.25s;

  @media ($tablet) {
    font-size: 0;
    width: auto;
    gap: 0;
    top: 20px;
    right: 20px;
  }

  &.hide {
    display: none;
  }

  &:hover {
    @media #{$mouse-device} {
      opacity: 0.7;
    }
  }

  img {
    width: 18px;
    height: 18px;
  }
}
.personal__top {
  padding-right: 250px;

  @media ($tablet3) {
    padding-right: 0;
  }
}
.personal__text {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.4;
  color: #646464;

  @media ($tablet3) {
    margin-top: 8px;
    font-size: 16px;
  }
}
.personal__form {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media ($tablet3) {
      gap: 18px;
    margin-top: 24px;
  }
}
.personal__form_row {
  display: flex;
  gap: 10px;

  @media ($tablet3) {
    &:not(:first-child) {
      flex-direction: column;
      gap: 18px;
    }
  }
}
.personal__form_item {
  width: calc(50% - 5px);
}
.personal__form_title {
  color: #646464;
  font-size: 18px;
  line-height: 1.4;

  @media ($tablet3) {
    font-size: 16px;
  }
}
.personal__form_input {
  margin-top: 4px;
  color: #323232;
  width: 100%;
  font-family: GolosText, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -1px;
}
.personal__form_submit {
  margin-top: 6px;
  max-width: 410px;
  margin-left: 152px;
  display: none;

  @media ($tablet) {
    margin: 6px auto 0;
  }

  .personal__form.edit & {
    display: flex;
  }
}