.cart__top {
  padding: 85px 40px 138px;
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 6px 13px 0 rgba(#000000, 0.03);
}
.cart__title {
  text-align: center;
}
.cart__text {
  max-width: 908px;
  margin: 32px auto 0;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}