.auth {
  padding: 160px 0 120px;

  @media ($tablet) {
    padding: 60px 0 30px;
  }
}
.auth__content {
  max-width: 540px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0 6px 13px 0 rgba(#000000, 0.03);

  @media ($tablet3) {
    padding: 20px;
  }
}
.auth__text {
  color: #646464;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 8px;

  @media ($tablet3) {
    font-size: 16px;
  }
}
.auth__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.auth__form_row {
  display: flex;
  align-items: center;
  gap: 6px;

  .auth__form_input {
    width: calc(50% - 3px);
  }
}
.auth__form_input {
  input {
    background: #F6F5F3;
  }
}
.auth__form_submit {
  margin-top: 10px;
  height: 52px;
}
.auth__social {
  margin-top: 20px;
}
.auth__social_title {
  color: #323232;
  font-size: 16px;
  line-height: 1.4;
}
.auth__social_links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.auth__social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  height: 44px;
  border-radius: 68px;
  font-size: 14px;
  line-height: 1.3;

  &.this--blue {
    background: #0077FF;
    color: #ffffff;
  }
  &.this--black {
    background: #000000;
    color: #ffffff;
  }
  &.this--yellow {
    background: #FFDD2D;
    color: #353539;
  }
}
.auth__bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  line-height: 1.4;
  color: #646464;
}
.auth__forgot,
.auth__registration_link {
  text-decoration: underline;
  color: #646464;
}
.auth__registration {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #646464;

  span {
    @media ($tablet3) {
      display: none;
    }
  }
}